.summary {
    // width: 100%;
    margin-top: 70px !important;

    h2 {
        width: 100%;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0em;
    }
}