.primaryButton {
    height: 41px;
    width: 160px;
    border: transparent;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

.secondaryButton {
    padding: 18px 136px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0em;
    cursor: pointer;
}