:root {
    --TSbgColor: #111111;
    --TStextColor: #fff;
    --TSlinkColor: #8D8D9B;
    --TSsecondaryTextColor: #B8B8B8
}

.content {
    width: 82%;
    margin: 0 auto;
    // padding: 0px 120px;

    display: flex;
    flex-direction: column;
    align-items: center;
}